p.blocktext {
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;

}

h2{
  text-align: center;

}

  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
.container{
    width: 350px;
    height: 400px;  
    padding: 25px; 
    border : 6px groove;
    border-color:orange; 
  }

body {
    background-repeat: no-repeat;
    background-image: url("../image/log.jpg");
    font-family: Calibri, Helvetica, sans-serif;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin:0;
}

.footer-text{
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size:20px;
    color: aliceblue;


}


